<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:name=".App"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        tools:replace="android:dataExtractionRules,android:fullBackupContent"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthCareApp"
        tools:targetApi="31">
        <activity
            android:name=".StartActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".InviteAcceptActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="ttdev" android:host="invite" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="ttam-ttam-web.vercel.app"
                    android:pathPrefix="/folders/invite" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginSuccess"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true">
        </activity>
        <activity android:name=".LoadingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            >
        </activity>
        <activity android:name=".DiaryActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name=".FolderActivity2"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            >
        </activity>
        <activity android:name=".HomeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            >
        </activity>

        <activity android:name=".DiaryListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name=".WorkoutActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">

        </activity>
        <activity android:name=".WorkoutExerciseActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">

        </activity>
        <activity android:name=".WorkoutFinishActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">

        </activity>
        <activity
            android:name=".AddExerciseActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:exported="false" />
    </application>

</manifest>
